<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Plate Scanner v.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
    <video #videoFeed autoplay playsinline></video>
    <div *ngIf="scanningInProgress" class="status-message">Please wait...</div>
    <div *ngIf="detectedPlate" class="result-success">
      Detected Plate: {{ detectedPlate }}
    </div>
    <div *ngIf="!detectedPlate && !scanningInProgress" class="result-failure">
      No plate detected or scanning failed.
    </div>
  </div>
</ion-content>