<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Plate Scanner v.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
    <video #videoFeed autoplay playsinline></video>
    <div *ngIf="scanningInProgress" class="status-message">Please wait...</div>
    <div *ngIf="detectedPlate" class="result-success">
      Detected Plate: {{ detectedPlate }}
    </div>
    <div *ngIf="!detectedPlate && !scanningInProgress" class="result-failure">
      No plate detected or scanning failed.
    </div>
    <div *ngIf="videoService.videoStreamError" class="result-failure">
      {{videoService.videoStreamError}}
    </div>
    <div *ngIf="videoService.videoStreamStatus" class="status-message">
      {{videoService.videoStreamStatus}}
    </div>
    <!-- <div *ngIf="videoService.videoFrameCount" class="status-message">
      {{videoService.videoFrameCount}}
    </div> -->
    <!-- <div *ngIf="videoService.allDetectedPlates" class="result-success">
      Detected Plates: 
      <div *ngFor="let plate of videoService.allDetectedPlates">
        {{ plate }}
      </div>
    </div> -->
  </div>
</ion-content>